.header {
  display: flex;
  border-bottom: solid 1px rgb(224, 224, 224);
  box-shadow: 1px 1px rgb(241, 241, 241);
  width: 100vw;
  margin: -8px 0 0 -8px;
  height: 70px;
}

.header-logo {
  margin: 0 0 0 5vw;
  height: 70px;
  width: 180px;
}

.buttons-header {
  padding: 28px 10px 0 10px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.buttons-header:hover {
  background-color: rgb(230, 230, 230);
}

.selected-form {
  background-color: rgb(255, 198, 92);
}

.selected-form:hover {
  background-color: rgb(255, 184, 51) !important;
}